In [1]:
import pandas as pd

In [4]:
csv_path="location/file.csv"
#df = pd.read_csv(csv_path)

In [6]:
routine = {'SUN':['DS','ML','HM'],'MON':['NM','OS','HM'],'TUE':['NM','DS','HM']}
routine_df = pd.DataFrame(routine)
routine_df

  SUN MON TUE
0  DS  NM  NM
1  ML  OS  DS
2  HM  HM  HM

In [12]:
r_x_df = routine_df[['SUN']]
r_x_df

  SUN
0  DS
1  ML
2  HM

In [14]:
r_y_df = routine_df[['TUE']]
r_y_df

  TUE
0  NM
1  DS
2  HM

In [16]:
r_z_df = routine_df[['SUN','TUE']]
r_z_df

  SUN TUE
0  DS  NM
1  ML  DS
2  HM  HM

In [17]:
routine_df[['MON']]

  MON
0  NM
1  OS
2  HM

## loc, iloc, ix

### loc

In [19]:
routine_df

  SUN MON TUE
0  DS  NM  NM
1  ML  OS  DS
2  HM  HM  HM

In [20]:
routine_df.loc[1,"MON"]

'OS'

In [22]:
routine_df.loc[0,'SUN']

'DS'

### iloc

In [23]:
routine_df.iloc[0,0]

'DS'

In [24]:
routine_df.iloc[0,2]

'NM'

### ix
#### <p style='color: purple'>ix is deprecated</p>

In [25]:
routine_df.ix[1,'SUN']

C:\Users\smohi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'ML'

In [26]:
routine_df.ix[1,1]

C:\Users\smohi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'OS'

In [27]:
routine_df.loc[0:1,'SUN':'MON']

  SUN MON
0  DS  NM
1  ML  OS

In [29]:
routine_df.iloc[0:2,0:3]

  SUN MON TUE
0  DS  NM  NM
1  ML  OS  DS

In [31]:
routine_df['SUN'].unique()

array(['DS', 'ML', 'HM'], dtype=object)